$bg-color: #ffffd4;
$btn_dark: #000;
$btn_light: #fff;
$weight-bold: 700;
$weight-semi: 600;
$weight-medium: 500;
$font-title: 3rem;
$font-sub:1.5rem;


@mixin pc_wh {
    max-width: 1360px;
    min-width: 320px;
    height: 750px;
    margin: 50px auto 0;
    padding: 60px;
}

@mixin flex-row{
    display:flex; flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
@mixin flex-col{
    display:flex; flex-flow: column nowrap;
    justify-content: space-between;
    align-content: center;
}

@mixin bg-cover{
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

@mixin slide-btn {
    display:inline-block;
    width:250px; line-height: 10px;
    text-align: center;
    border-radius: 40px;
    font-weight: 600; font-size: 1.2rem;
}

@mixin pst-ab {
    position:absolute;
    left:0; top:0;
    width:100%; height: max-content;
}