@mixin slide_w_h_pc {
    width:800px; height:350px;
    border-width:1px;
    border-style:solid;
}

$purple-color:#fa23d6;
$coral-color: #fa2372;


#slide_container {
    background-color: #eee;
    .slide_wrap {
        .slide { display: none;
            
        }
        .slide1 { 
        }
        .slide2 {display:block;
            @include slide_w_h_pc; border-color:$purple-color; color:$coral-color;}
    }
}